@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Inter:wght@100;400;500;600&family=Merriweather:wght@700&display=swap");
/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --brand: #41cbbf;
  --darkest: #0a3342;
  --dark: #164e63;
  --mid: #bec9df;
  --light: #dde2ee;
  --lightest: #ffffff;
  --no-of-cards: "";
  --cards-in-view: "";
  --card-height: "";
  --card-width: "";
  --iteration-time: "";
}

html {
  scroll-snap-type: y proximity;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: "Inter";
  font-size: 0.8rem;
  position: fixed;
  z-index: 10;
  width: 100vw;
  border-bottom: solid 1px var(--darkest);
  background-color: var(--lightest);
  height: 50px;
}

.logo {
  font-family: "Merriweather";
  text-transform: none;
  margin: 0 2ch;
}

#navlinks {
  flex: 1;
  display: flex;
  gap: 5ch;
}

#navlinks a,
#profile a {
  color: var(--darkest);
  text-decoration: none;
}

li {
  list-style-type: none;
}

#profile {
  margin-right: 10px;
}

#hero {
  padding-top: 100px;
  height: 112vh;
  display: flex;
  flex-direction: column;
}

#pitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  padding-top: 5vh;
}

#pitch-main {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 54px;
  width: 586px;
  margin: 0 auto;
}

#slogan {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}

.callToAction {
  width: 245px;
  height: 66px;
  border: 0;
  border-radius: 33px;
  font-size: 32px;
  background-color: var(--brand);
  color: var(--lightest);
  margin: 2rem auto;
  z-index: 1;
}
/* .heroImages {
    display: flex;
    justify-content: space-between;
} */

.heroImageLeft,
.heroImageRight {
  z-index: -1;
  position: absolute;
}

.heroImageLeft {
  height: 555px;
  width: 555px;
  top: 30vh;
  left: 0;
}

.heroImageRight {
  height: 625px;
  width: 625px;
  top: 25vh;
  right: 0;
}

#aboutus {
  height: 280px;
  background-color: var(--brand);
  padding: 2rem 0;
}

h1 {
  font-family: "Gabarito", sans-serif;
  font-weight: 600;
  color: var(--darkest);
  text-align: center;
}

#aboutus > p {
  font-family: "Inter";
  font-weight: 400;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem 0;
}

#intro {
  width: 803px;
  /* height: 172px; */
  background-color: var(--dark);
  color: var(--lightest);
  font-family: "Gabarito";
  font-weight: 400;
  font-size: 36px;
  padding: 3rem 4rem;
  margin: 0 auto;
  margin-top: -100px;
}

#coverage {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 16px;
}

.card {
  height: 300px;
  width: 226px;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px minmax(auto, 163px) 32px auto;
  justify-items: center;
  font-family: "Inter";
  background-color: var(--lightest);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px;
  color: var(--darkest);
}

.cardTitle {
  font-weight: 600;
  text-align: center;
  margin: 1ch;
  height: 32px;
}

.cardImg {
  max-height: 163px;
  margin: 1ch;
}

.cardDesc {
  font-size: 12px;
  text-align: center;
  height: 64px;
  margin-top: 1ch;
}

.cardBtn {
  width: 113px;
  height: 36px;
  border: 0;
  border-radius: 33px;
  background-color: var(--brand);
  color: var(--lightest);
  margin: 2ch;
}

button {
  transition: all 0.2s ease;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
}

#andMore {
  font-size: 36px;
  font-family: "Gabarito";
  text-align: center;
}

#howItWorks {
  height: 500vh;
  /* scroll-snap-align: start; */
}

.stickyWrapper {
  position: sticky;
  top: 30px;
  height: 100vh;
  width: 100vw;
}

#howItWorksContent {
  display: flex;
}

h2 {
  font-size: 60px;
  font-family: "Gabarito";
  color: var(--darkest);
  text-align: center;
}

.step {
  display: flex;
  gap: 1ch;
  font-family: "Inter";
  font-weight: 400;
  margin: 4rem 2rem;
  font-size: 22px;
}

.stepDesc {
  width: 60ch;
  font-weight: bold;
}

.elaborate {
  font-weight: 400;
  font-weight: 100;
}

#howItWorksText {
  padding-top: 50px;
  width: 50vw;
}

.howItWorksImg {
  height: 100vh;
  width: 50vw;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#travelInsurance {
  z-index: 1;
}

@keyframes step1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#step1 {
  animation-name: step1;
  animation-duration: 1ms;
  animation-timeline: view();
  animation-range: 2% 100%;
  opacity: 0;
}

@keyframes insurance {
  0% {
    transform: translateY(1000px);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#travelInsurance {
  animation-name: insurance;
  animation-duration: 1ms;
  animation-timeline: view();
  animation-range: 2% 100%;
}

@keyframes step2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#step2 {
  animation-name: step2;
  animation-duration: 1ms;
  animation-timeline: view();
  animation-range: 25% 100%;
  opacity: 0;
}

@keyframes step3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#step3 {
  animation-name: step3;
  animation-duration: 1ms;
  animation-timeline: view();
  animation-range: 50% 100%;
  opacity: 0;
}

@keyframes tourism {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#tourism {
  z-index: 2;
  animation-name: tourism;
  animation-duration: 1ms;
  animation-timeline: view();
  animation-range: 2% 100%;
}

#whyUs {
  scroll-snap-align: start;
  max-height: 100vh;
  background-color: var(--brand);
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0 5vw;
}

#whyUs > div {
  padding-top: 50px;
}

#whyUs > div > h3 {
  font-family: "Inter";
  font-size: 44px;
  font-weight: bold;
  color: var(--lightest);
  padding: 1rem 0;
}

.left-spacer {
  grid-column: 1;
  grid-row: 1 / 6;
  height: 100vh;
  width: 5vw;
}

.right-spacer {
  grid-column: 3;
  grid-row: 1 / 6;
  height: 100vh;
  width: 5vw;
}

.whyItem {
  display: flex;
  align-items: center;
  gap: 4rem;
  color: var(--lightest);
  font-family: "Inter";
  padding: 2rem 2rem;
  border-top: 1px solid var(--lightest);
  grid-column: 2;
  text-wrap: wrap;
}

.whyItem:nth-child(4) {
  border-bottom: 1px solid var(--lightest);
}

.checkmark {
  height: 114px;
}

.reason {
  font-weight: 600;
  font-size: 32px;
}

.reason-more {
  font-weight: 100;
  font-size: 22px;
  width: 55ch;
}

.press {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 90%;
  height: 60px;
}

.testimonialSection {
  background-color: var(--brand);
  width: 100vw;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  width: calc(var(--cards-in-view) * var(--card-width));
  height: var(--card-height);
}

.carousel {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--brand);

  overflow: hidden;
  width: calc(2 * var(--no-of-cards));
}

@keyframes infinite-cards {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(
      calc((var(--card-width) + 20px) * var(--no-of-cards) * -1),
      0,
      0
    );
  }
}

.testimonial-card {
  animation: infinite-cards var(--iteration-time) linear infinite;
  width: var(--card-width);
  height: var(--card-height);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  padding: 20px;
  margin: 10px;
  background-color: var(--lightest);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.testimonial-card p {
  width: 36ch;
  font-size: 16px;
  flex: 1;
}

.testimonial-card p a {
  color: var(--brand);
}

.user {
  display: flex;
  gap: 2ch;
  align-items: center;
}

.person1 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_woman1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person2 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_man1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person3 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_woman2.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person4 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_man2.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person5 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_woman3.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person6 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_man3.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person7 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_woman4.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person8 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_man4.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person9 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_woman5.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.person10 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: url("images/fake_man5.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.username {
  font-size: 14px;
  margin-top: 10px;
  color: var(--dark);
}

#contactUs {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Merriweather";
  background-color: var(--lightest);
  color: var(--darkest);
}

.callToAction2 {
  background: #164e63;
  background: -webkit-linear-gradient(to right, #164e63 0%, #41cbbf 100%);
  background: -moz-linear-gradient(to right, #164e63 0%, #41cbbf 100%);
  background: linear-gradient(to right, #164e63 0%, #41cbbf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer a {
  color: var(--brand);
  text-decoration: none;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 22ch);
  grid-template-rows: repeat(4, auto);
  padding: 32px 22ch;
  background-color: var(--darkest);
  color: var(--lightest);
  min-height: 50vh;
  align-content: space-between;
  font-family: "Inter";
  font-size: 14px;
}

footer h3 {
  font-size: 14px;
  text-transform: uppercase;
}

footer .column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.appBadge {
  height: 4ch;
}

.socialLinks {
  display: flex;
  gap: 2ch;
}

.socials {
  height: 4ch;
}

footer .miscellaneous {
  grid-column: span 4;
}

a:visited {
  color: var(--light);
}
